:root {
  --ff-all: "Hanken Grotesk", sans-serif;
}

/*** Normalization ***/

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin: 0;
}

h1,
h2,
h3 {
  line-height: 1.5;
}

/*** ***/

body{
  display: flex;
  justify-content: center;
  align-items: center;

  background-color:hsla(40, 3%, 15%, 1);
  color: hsla(50, 72%, 92%, 1);
  font-family: var(--ff-all);
  text-align: center;

}

.gameBoard{
  display: grid;
  gap:1.5rem;

  justify-items: center;

  
  max-width: 600px;
  width: 100%
}

.titleAndInstructions{
  text-align: center;
  max-width: 350px;
  width: 100%;

}

.titleAndInstructions h1{
  font-size: 1.25rem;
  font-weight: 500;
}

.titleAndInstructions p{
  font-size: 0.875rem;
  font-weight: 500;
  color: hsla(0, 0%, 56%, 1);
}

.noticeContainer{
  max-width: 350px;
  height: 60px;
  width: 100%;

}

.notice{
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: hsla(263, 29%, 51%, 1)
}

.notice.wonNotice{
  background-color: hsla(149, 83%, 36%, 1);
}

.notice.lostNotice{
  background-color: hsla(0, 63%, 45%, 1);
}

.notice.inactive{
  display: none;
}

.eliminations{
  max-width: 260px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 0.1rem;
}

.eliminationItem{
  font-weight: 700;
  font-size: 0.75rem;
  padding: 0.3rem;
  border-radius: 0.1875rem;
}

.eliminationItem.elModifier{
  opacity: 10%;
}

.lettersSection{
  display: flex;
  gap:0.125rem;
}

.lettersItem{
  display: flex;
  justify-content: center;
  align-items: center;
  
  height: 40px;
  width: 40px;

  background-color: hsla(0, 0%, 20%, 1);

  border-bottom-style: solid;
  border-bottom-width: 0.0625rem;
  border-bottom-color: hsla(50, 72%, 92%, 1);

  font-size: 1.125rem;
  font-weight: 700;

}

.board{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 0.5rem;
  max-width: 480px;
  width: 100%;
}

.boardButton{
  display: flex;
  justify-content: center;
  align-items: center;
  
  width:40px;
  height: 40px;
  background-color: hsla(41, 97%, 57%, 1);
  border-radius: 0.25rem;
  border: solid 1px hsla(0, 0%, 84%, 1);

  color: hsla(0, 0%, 12%, 1);
  font-weight: 600;

  cursor: pointer;
}

.boardButton.rightLetter{
  background-color: hsla(149, 83%, 36%, 1)
}

.boardButton.wrongLetter{
  background-color: hsla(7, 81%, 61%, 1)
}

.newGameButton{
  background-color: hsla(194, 86%, 48%, 1);
  padding: 0.375rem 0.75rem ;
  border: solid 1px hsla(0, 0%, 84%, 1);
  border-radius: 0.25rem;

  font-weight: 600;
  color: hsla(0, 0%, 12%, 1);

  max-width: 200px;
  width: 100%;
}





